In [78]:
pip install nltk

Requirement already satisfied: nltk in c:\users\harshit\anaconda3\lib\site-packages (3.5)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: click in c:\users\harshit\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in c:\users\harshit\anaconda3\lib\site-packages (from nltk) (0.17.0)
Requirement already satisfied: regex in c:\users\harshit\anaconda3\lib\site-packages (from nltk) (2020.10.15)
Requirement already satisfied: tqdm in c:\users\harshit\anaconda3\lib\site-packages (from nltk) (4.50.2)

In [99]:
import pandas as pd
import numpy as np
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HARSHIT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [100]:
dj = pd.read_csv(r"D:\machine learning intern\stocknews\stocknews\upload_DJIA_table.csv")
news = pd.read_csv(r"D:\machine learning intern\stocknews\stocknews\RedditNews.csv")

In [101]:
dj.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,7/1/2016,17924.24023,18002.38086,17916.91016,17949.36914,82160000,17949.36914
1,6/30/2016,17712.75977,17930.60938,17711.80078,17929.99023,133030000,17929.99023
2,6/29/2016,17456.01953,17704.50977,17456.01953,17694.67969,106380000,17694.67969
3,6/28/2016,17190.50977,17409.72070,17190.50977,17409.72070,112190000,17409.72070
4,6/27/2016,17355.21094,17355.21094,17063.08008,17140.24023,138740000,17140.24023

In [102]:
news.head()

       Date                                               News
0  7/1/2016  A 117-year-old woman in Mexico City finally re...
1  7/1/2016   IMF chief backs Athens as permanent Olympic host
2  7/1/2016  The president of France says if Brexit won, so...
3  7/1/2016  British Man Who Must Give Police 24 Hours' Not...
4  7/1/2016  100+ Nobel laureates urge Greenpeace to stop o...

In [103]:

dj.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Volume       0
Adj Close    0
dtype: int64

In [104]:
news.isnull().sum()

Date    0
News    0
dtype: int64

In [105]:
print(dj.shape)
print(news.shape)

(1989, 7)
(73608, 2)

In [106]:
# Compare the number of unique dates. We want matching values.
print(len(set(dj.Date)))
print(len(set(news.Date)))

1989
2943

In [107]:
# Remove the extra dates that are in news
news = news[news.Date.isin(dj.Date)]
print(len(set(dj.Date)))
print(len(set(news.Date)))

1989
1989

In [108]:
# Calculate the difference in opening prices between the following and current day.
# The model will try to predict how much the Open value will change beased on the news.
dj = dj.set_index('Date').diff(periods=1)
dj['Date'] = dj.index
dj = dj.reset_index(drop=True)
# Remove unneeded features
dj = dj.drop(['High','Low','Close','Volume','Adj Close'], 1)

In [109]:
dj.head()

        Open       Date
0        NaN   7/1/2016
1 -211.48046  6/30/2016
2 -256.74024  6/29/2016
3 -265.50976  6/28/2016
4  164.70117  6/27/2016

In [110]:
# Remove top row since it has a null value.
dj = dj[dj.Open.notnull()]
# Check if there are any more null values.
dj.isnull().sum()

Open    0
Date    0
dtype: int64

In [67]:
# Create a list of the opening prices and their corresponding daily headlines from the news
price = []
headlines = []

for row in dj.iterrows():
    daily_headlines = []
    date = row[1]['Date']
    price.append(row[1]['Open'])
    for row_ in news[news.Date==date].iterrows():
        daily_headlines.append(row_[1]['News'])
    
    # Track progress
    headlines.append(daily_headlines)
    if len(price) % 500 == 0:
        print(len(price))

500
1000
1500

In [111]:
# Compare lengths to ensure they are the same
print(len(price))
print(len(headlines))

1988
1988

In [112]:
# Compare the number of headlines for each day
print(max(len(i) for i in headlines))
print(min(len(i) for i in headlines))

25
22

In [113]:
# A list of contractions from http://stackoverflow.com/questions/19790188/expanding-english-language-contractions-in-python
contractions = { 
"ain't": "am not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he would",
"he'd've": "he would have",
"he'll": "he will",
"he's": "he is",
"how'd": "how did",
"how'll": "how will",
"how's": "how is",
"i'd": "i would",
"i'll": "i will",
"i'm": "i am",
"i've": "i have",
"isn't": "is not",
"it'd": "it would",
"it'll": "it will",
    "it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"must've": "must have",
"mustn't": "must not",
"needn't": "need not",
"oughtn't": "ought not",
"shan't": "shall not",
"sha'n't": "shall not",
"she'd": "she would",
"she'll": "she will",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"that'd": "that would",
"that's": "that is",
"there'd": "there had",
"there's": "there is",
"they'd": "they would",
"they'll": "they will",
"they're": "they are",
"they've": "they have",
"wasn't": "was not",
"we'd": "we would",
"we'll": "we will",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what will",
"what're": "what are",
"what's": "what is",
"what've": "what have",
"where'd": "where did",
    "where's": "where is",
"who'll": "who will",
"who's": "who is",
"won't": "will not",
"wouldn't": "would not",
"you'd": "you would",
"you'll": "you will",
"you're": "you are"
}

In [114]:
def clean_text(text, remove_stopwords = True):
    '''Remove unwanted characters and format the text to create fewer nulls word embeddings'''
    
    # Convert words to lower case
    text = text.lower()
    
    # Replace contractions with their longer forms 
    if True:
        text = text.split()
        new_text = []
        for word in text:
            if word in contractions:
                new_text.append(contractions[word])
            else:
                new_text.append(word)
        text = " ".join(new_text)
    
    # Format words and remove unwanted characters
    text = re.sub(r'&amp;', '', text) 
    text = re.sub(r'0,0', '00', text) 
    text = re.sub(r'[_"\-;%()|.,+&=*%.,!?:#@\[\]]', ' ', text)
    text = re.sub(r'\'', ' ', text)
    text = re.sub(r'\$', ' $ ', text)
    text = re.sub(r'u s ', ' united states ', text)
    text = re.sub(r'u n ', ' united nations ', text)
    text = re.sub(r'u k ', ' united kingdom ', text)
    text = re.sub(r'j k ', ' jk ', text)
    text = re.sub(r' s ', ' ', text)
    text = re.sub(r' yr ', ' year ', text)
    text = re.sub(r' l g b t ', ' lgbt ', text)
    text = re.sub(r'0km ', '0 km ', text)
    
     # Optionally, remove stop words
    if remove_stopwords:
        text = text.split()
        stops = set(stopwords.words("english"))
        text = [w for w in text if not w in stops]
        text = " ".join(text)

    return text

In [115]:
# Clean the headlines
clean_headlines = []

for daily_headlines in headlines:
    clean_daily_headlines = []
    for headline in daily_headlines:
        clean_daily_headlines.append(clean_text(headline))
    clean_headlines.append(clean_daily_headlines)

In [116]:
# Take a look at some headlines to ensure everything was cleaned well
clean_headlines[0]

['jamaica proposes marijuana dispensers tourists airports following legalisation kiosks desks would give people license purchase 2 ounces drug use stay',
 'stephen hawking says pollution stupidity still biggest threats mankind certainly become less greedy less stupid treatment environment past decade',
 'boris johnson says run tory party leadership',
 'six gay men ivory coast abused forced flee homes pictured signing condolence book victims recent attack gay nightclub florida',
 'switzerland denies citizenship muslim immigrant girls refused swim boys report',
 'palestinian terrorist stabs israeli teen girl death bedroom',
 'puerto rico default $ 1 billion debt friday',
 'republic ireland fans awarded medal sportsmanship paris mayor',
 'afghan suicide bomber kills 40 bbc news',
 'us airstrikes kill least 250 isis fighters convoy outside fallujah official says',
 'turkish cop took istanbul gunman hailed hero',
 'cannabis compounds could treat alzheimer removing plaque forming proteins brain cells research suggests',
 'japan top court approved blanket surveillance country muslims made us terrorist suspects never anything wrong says japanese muslim mohammed fujita',
 'cia gave romania millions host secret prisons',
 'groups urge united nations suspend saudi arabia rights council',
 'googles free wifi indian railway stations better countrys paid services',
 'mounting evidence suggests hobbits wiped modern humans ancestors 50000 years ago',
 'men carried tuesday terror attack istanbul ataturk airport russia uzbekistan kyrgyzstan turkish offical said',
 'calls suspend saudi arabia un human rights council military aggresion yemen',
 '100 nobel laureates call greenpeace anti gmo obstruction developing world',
 'british pedophile sentenced 85 years us trafficking child abuse images domminich shaw kingpin sexual violence children sent dozens images online discussed plans assault kill child probation',
 'us permitted 1 200 offshore fracks gulf mexico 2010 2014 allowed 72 billion gallons chemical discharge 2014',
 'swimming ridicule french beach police carry guns swimming trunks police lifeguards frances busiest beaches carry guns bullet proof vests first time summer amid fears terrorists could target holidaymakers',
 'uefa says minutes silence istanbul victims euro 2016 turkey already eliminated',
 'law enforcement sources gun used paris terrorist attacks came phoenix']

In [117]:
# Take a look at some headlines to ensure everything was cleaned well
clean_headlines[1]

['explosion airport istanbul',
 'yemeni former president terrorism offspring wahhabism al saud regime',
 'uk must accept freedom movement access eu market',
 'devastated scientists late captive breed mammal lost climate change australian conservationists spent 5 months obtaining permissions planning captive breeding program arrived rodents tiny island late',
 'british labor party leader jeremy corbyn loses confidence vote refuses resign',
 'muslim shop uk firebombed people inside',
 'mexican authorities sexually torture women prison',
 'uk shares pound continue recover',
 'iceland historian johannesson wins presidential election',
 '99 million year old bird wings found encased amber finding things trapped amber far rare researchers burma found pair tiny bird like wings frozen inside knew something special',
 'chatbot programmed british teenager successfully challenged 160000 parking tickets since launch last year',
 'philippine president elect said monday would aggressively promote artificial birth control country even risk getting fight dominant catholic church staunchly opposes use contraceptives',
 'former belgian prime minister ridicules nigel farage accuses ukip leader lying eu referendum campaign',
 'brexiteer nigel farage eu laughing',
 'islamic state bombings southern yemen kill 38 people',
 'escape tunnel dug hand found holocaust massacre site',
 'land beijing sinking much four inches per year overconsumption groundwater according new research',
 'car bomb anti islamic attack mosque perth australia',
 'emaciated lions taiz zoo trapped blood soaked cages left starve months due yemeni civil war',
 'rupert murdoch describes brexit wonderful media mogul likened leaving eu prison break shared view donald trump able man',
 '40 killed yemen suicide attacks',
 'google found disastrous symantec norton vulnerabilities bad gets',
 'extremist violence rise germany domestic intelligence agency says far right far left islamist radical groups gaining membership country',
 'bbc news labour mps pass corbyn confidence motion',
 'tiny new zealand town many jobs launches drive recruit outsiders']

In [118]:
# Find the number of times each word was used and the size of the vocabulary
word_counts = {}

for date in clean_headlines:
    for headline in date:
        for word in headline.split():
            if word not in word_counts:
                word_counts[word] = 1
            else:
                word_counts[word] += 1
            
print("Size of Vocabulary:", len(word_counts))

Size of Vocabulary: 35190

In [126]:
# Load GloVe's embeddings
embeddings_index = {}
with open(r'D:\machine learning intern\stocknews\stocknews\glove.840B.300d.txt', encoding='utf-8') as f:
    for line in f:
        values = line.split(' ')
        word = values[0]
        embedding = np.asarray(values[1:], dtype='float32')
        embeddings_index[word] = embedding

print('Word embeddings:', len(embeddings_index))

Word embeddings: 2196017

In [128]:
# Find the number of words that are missing from GloVe, and are used more than our threshold.
missing_words = 0
threshold = 10

for word, count in word_counts.items():
    if count > threshold:
        if word not in embeddings_index:
            missing_words += 1
            
missing_ratio = round(missing_words/len(word_counts),4)*100
            
print("Number of words missing from GloVe:", missing_words)
print("Percent of words that are missing from vocabulary: {}%".format(missing_ratio))

Number of words missing from GloVe: 47
Percent of words that are missing from vocabulary: 0.13%